@inherits MainLayout
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

<MudAppBar Color="Color.Primary" Elevation="1">
        <a href="/" style="color:white; text-decoration: none;">
            <MudText Typo="Typo.h5" Class="ml-3">BARBERCHAIN</MudText>
        </a>
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                @User.Identity.Name
            </Authorized>
        </AuthorizeView>
        @if (NotificationCount > 0)
        {
            <MudBadge Content="@NotificationCount" Color="Color.Secondary" Overlap="true" Class="mx-6 my-4">
                <MudIconButton @onclick="AccessProfile" Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" Edge="Edge.End" />
            </MudBadge>
        }
        else
        {
            <MudIconButton @onclick="AccessProfile" Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" Edge="Edge.End" />
        }
</MudAppBar>

@code
{
    [Parameter]
    public int NotificationCount { get; set; }
}