@namespace barberchainAPI.Components.Pages
@rendermode InteractiveServer
@page "/"
@using barberchainAPI.Functional.Services;
@inject IMapService MapService
@inject BarberchainDbContext Context

<MudPopoverProvider />

<PageTitle>Home</PageTitle>

<MudPaper Class="pa-4 mt-8 mx-auto" Style="max-width: 1000px; border: 1px solid black;">
    <MudStack Spacing="4">
        <MudText Typo="Typo.h3" Align="Align.Center" Class="mb-2">THE BARBERCHAIN</MudText>
        <MudText Typo="Typo.h4" Align="Align.Center" Style="font-style: oblique;">
            знаете ли вы, что значит
            <MudTooltip Text="стилёк" Style="font-size: 24px; font-style: italic; background: black;" Placement="Placement.Top">
                <MudText Typo="Typo.h3" Inline="true" Style="font-style:normal; display:inline-block; cursor:pointer;">🤌</MudText>
            </MudTooltip>
            ?
        </MudText>

        <div id="map" style="height: 400px; width: auto; border: 1px solid black;"></div>
    </MudStack>
</MudPaper>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await MapService.InitMapAsync("map", 45.140134, 37.460469, 9);

        var barbershops = await Context.Barbershops.ToListAsync();

        foreach (var bs in barbershops)
        {
            await MapService.AddMarkerAsync(bs.Id.ToString(), bs.Latitude, bs.Longitude, $"/barbershop/{bs.Id}");
        }
    }
}