* {
    border-radius: 0 !important;
    font-family: 'Inter' !important;
}

html, body {
    min-height: 100vh !important;
    height: max-content !important;
    margin: 0 !important;
}

.mud-layout {
    min-height: 100vh !important;
    height: max-content !important;
}

.mud-main-content {
    min-height: 100vh !important;
    height: max-content !important;
    padding-bottom: 32px;
}